
body {
    font-size: 16px;
}
.cache {
    visibility: hidden;
    height: 5px;
}
.btn-default
{
    /* --- surcharge du stylesheet --- */
    background-color: #eef6ef;
    border-color: #2b542c;
    color: #2b542c;
}
.form-control, .thumbnail {
    border-color: #2b542c;
    border-radius: 6px;
}


/* --- navbar ---------------------------------------------------- */
@grid-float-breakpoint: 1200;
.navbar-inverse
{
    background-color: #2b542c;
    border-bottom: 2px solid white;
}

.titre h1
{
    font-family: 'Montserrat Alternates', sans-serif;
    /*color: #00ab0c;*/
    color: #2b542c;
    font-size: 30px;
    /*padding: 20px;*/
    margin-top:120px;
}
#navbar a:hover {
    text-transform: none;
    color: #CDE5CD;
}

#logo
{
    max-width: 250px;
    padding: 5%
}

/* --- blocs ----------------------------------------------------- */
.bandeau {
    height: 34px;
    line-height: 34px;
    font-size: 20px;
    background-color: #2b542c;
    color: white;
    margin-top:20px;
}
.contenu {
    background-color: white;
    padding: 10px;
}
input.btn, label.btn {
    width: 230px;
    margin: 2px;
}
/* --- grandes images -------------------------------------------- */
.gimg {
    max-height: 200px;
    border: 0px;
    margin: 10px;
    padding: 5px;
}

/* --- upload ---------------------------------------------------- */
#faitchier {
    display: inline-block;
    color: red;
}

/* --- galerie petites images ------------------------------------ */
.pimg {
    max-width: 200px;
    border: 0px;
    margin: 10px;
}
.blocimg {
    background-color: #eef6ef;
    padding:10px 0 30px 0;
    margin-bottom: 20px;
    /*
    border-left: 2px solid white;
    border-right: 2px solid white;
    */
}
/* --- Livre d'Or ------------------------------------ */
.thumbnail {
    margin-left: 10px;
}

.ThumbLdor {
    margin-top: 2%;
}

/* --- Conseils ------------------------------------ */
#TexteConseil {
    margin-bottom: 10px;
}