
/* ---   provisoire   ---*/
.vide {
    height: 300px;
    line-height: 300px;
    background: #EEEEEE;
}




/*------      Navigation      ------*/


.headtitle
{
    font-family: 'Chicle', cursive;
    color: white;
    font-size: 30px;
    padding: 20px;
}

.navbar-inverse
{
    opacity: 0.8;
    border-color: #0000;
}

.navbar-inverse .navbar-nav > li > a
{
    color: white;
    text-align: center;
    font-weight: bold;
}

.navbar-right
{
    padding: 20px;
}

#logo
{
    padding: 10px;
    opacity: 1;
}
/*------     Image header     ------*/
.bg-img1-lg, .bg-img1-md {
    background-image: url("../img/header.jpg");
    background-size: cover;
    margin-top: 50px
}
.bg-img1-xs {
    background-image: url("../img/bgimg1-xs.jpg");
    background-size: cover;
    margin-top: 50px
}
.bg-img1-lg, .bg-img2-lg {
    height: 600px;
}
.bg-img1-md, .bg-img2-md {
    height: 400px;
}
.bg-img1-xs, .bg-img2-xs{
    height: 300px;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img2-lg, .bg-img2-md, .bg-img2-xs {
    background-image: url("../img/bgimg1.jpg");
    background-size: cover;
}
.bg-change {
    margin-top: 100px;
}

/*------ Section presentation ------*/

/*------         Titre        ------*/


/*------     Presentation     ------*/


/*------     Valeur Ecologie  ------*/


/*------    Valeur Client     ------*/


/*------   Image Transition   ------*/
/*   voir image header plus haut    */

/*------  Section Best Realisations  ------*/


/*-------     Best Real 1     ------*/


/*-------     Best Real 2     ------*/


/*-------   Section Liste Prestations  ------*/


/*-------     Prestations     ------*/


/*-------    Section Conseil du mois    ------*/


/*-------    Section Livre d'or    ------*/


/*-------    Section Formulaire   ------*/

/*-------       Footer      ------*/

.footer {
    height: 200px;
    border-top:2px solid #EEEEEE;
}
#footer-logo-sp {
    margin-top: 50px;
    margin-left: 30px;
    height: 80px;
}
#footer-logo-gaston {
    margin-top:20px;
    width: 100%;
    max-width: 320px;
}
.infolegale h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.infolegale p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: justify;
}
.wcs {
    float :right;
    width:140px;
    height:100px;
    margin-top: 95px;
    background-image: url('../img/logo-wcs-vo.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 60px;
}
.legal-logo-wcs {
    height: 60px;
}


/*-------       Media Query      ------*/
