/*------      Navigation      ------*/


.headtitle
{
    font-family: 'Chicle', cursive;
    color: white;
    font-size: 30px;
    padding: 20px;
}

.navbar-inverse
{
    opacity: 0.8;
    border-color: #0000;
}

.navbar-inverse .navbar-nav > li > a
{
    color: white;
    text-align: center;
    font-weight: bold;
}

.navbar-right
{
    padding: 20px;
}

#logo
{
    padding: 10px;
    opacity: 1;
}
/*------     Image header     ------*/


/*------ Section presentation ------*/

/*------         Titre        ------*/


/*------     Presentation     ------*/


/*------     Valeur Ecologie  ------*/


/*------    Valeur Client     ------*/


/*------   Image Transition   ------*/


/*------  Section Best Realisations  ------*/


/*-------     Best Real 1     ------*/


/*-------     Best Real 2     ------*/


/*-------   Section Liste Prestations  ------*/


/*-------     Prestations     ------*/


/*-------    Section Conseil du mois    ------*/


/*-------    Section Livre d'or    ------*/


/*-------    Section Formulaire   ------*/


/*-------       Footer      ------*/


/*-------       Media Query      ------*/
