/*------        Général      ------*/

h1 {
    padding : 15px 0 20px 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #557e02;
}

p {
    font-size: 16px;
}

.ancre
{
    padding-top: 80px;
}

/* ---   provisoire   ---*/
.vide {
    height: 400px;
    line-height: 400px;
    background: #EEEEEE;
}


.btn-default
{
    background-color: #557e02;
    border-color: #557E02;
    border-radius: 6px;
    color: white;

}

.btn-default:hover
{
    border-color: #557E02;
}

.hover:hover
{
    background-color: #557E02;
    border-radius: 6px;
    color: white;
}


/*------      Navigation      ------*/
.navbar-toggle {

    padding: 25px 10px;
}

.navbar-inverse
{
    background: rgba(0,0,0,0.8);
    border-color: #0000;
}

.navbar-inverse .navbar-nav > li > a
{
    color: white;
    text-align: center;
    font-weight: bold;
}

.navbar-right
{
    padding: 20px;
}

.logo
{
    width: 250px;
    padding: 5%
}

/*------     Image header     ------*/
.parallax {
    z-index: -1;
}
h4#accroche{
    display: block;
    position: fixed;
    top: 40%;
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 6px 26px 0 rgba(0, 0, 0, 0.1);
    z-index: -1;
}
.bg-img1-lg, .bg-img1-md, .bg-img1-sm, .bg-img1-xs {
    background-image: url("../img/bgimg1.jpg");
    background-size: cover;
}
.bg-img2-lg, .bg-img2-md, .bg-img2-sm, .bg-img2-xs {
    background-image: url("../img/bgimg2.jpg");
    background-size: cover;
}
.bg-img1-md {
    margin-top: 50px
}
.bg-img1-lg {
    height: 750px;
}
.bg-img1-md, .bg-img2-lg{
    height: 550px;
}
.bg-img1-xs, .bg-img2-md, .bg-img2-xs{
    height: 300px;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-img2-lg, .bg-img2-md, .bg-img2-xs {
    background-image: url("../img/bgimg2p.jpg");
    background-size: cover;
}
.bg-change {
    margin-top: 100px;
}


/*------ Section presentation ------*/

.presentation {
    background: #fff;
    position: relative;
    height: 495px;
}

.presentation p {
    text-align: left;
    padding-bottom: 5px;
}

.img-header-prez {
    line-height: 20px;
}


/*------         Titre        ------*/


/*------     Presentation     ------*/


/*------     Valeur Ecologie  ------*/

.value1 {
    position: absolute;
    bottom: -210px;
    left: 6%;
    width: 45%;
    background-color:  #fbfff3;
    box-shadow: 2px 6px 26px 0 rgba(0, 0, 0, 0.1);
    border: solid #f9f9f9 1px;
    padding: 0 20px 5px 20px;}


/*------    Valeur Client     ------*/

.value2 {
    position: absolute;
    bottom: -250px;
    right: 6%;
    width: 45%;
    background-color: #fbfff3;
    box-shadow: 2px 6px 26px 0 rgba(0, 0, 0, 0.1);
    border: solid #f9f9f9 1px;
    padding: 0 20px 5px 20px;

}


/*------   Image Transition   ------*/
/*   voir image header plus haut    */

/*------  Section Best Realisations  ------*/

.real-titre {
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}

.real {
    background-color: #ffffff;
}

/*-------     Best Real    ------*/

.beforeAfter {
    position: relative;
}

.beforeAfter .container-fluid {
    width: 90%;
    margin-top: 10px;
}

.beforeAfter .after {
    position: absolute;
    width: 0;
    max-width: 85%;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

/*-------   Separation ------*/

/*.separe {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(186, 186, 186, 0.75), rgba(0, 0, 0, 0));
    border: 0 none;
    color: rgb(186, 186, 186);
    height: 1px;
}*/

/*-------   Section Blog  ------*/
.Blog {
    background-image: url('../img/imgConseil.jpg');
    background-size: cover;
    padding: 20px 0 20px 0;
}

.BlogThumb {
    text-align: center;
    color: white;
}

.BlogThumb h2 {
    color: #557e02;
    text-shadow: 1px 1px 1px;
}

/*-------     Prestations     ------*/
.presta-titre {
    text-align: center;
    padding-bottom: 20px;
}

.row-presta {
    padding-bottom: 100px;
}

.blocPresta {
    position: relative;
}

.etiquette {
    position: absolute;
    bottom: -50px;
    right: -40px;
    background-color: white;
    border : solid lightgrey 1px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgb(170, 170, 170);
    width: 400px;
    height: auto;
    padding-left : 10px;
}

.thumbnail
{
    border: none;
}

.thumbnail>img
{
    border-radius: 6px;
}

/*-------    Section Conseil du mois    ------*/
.Conseilbackground-lg {
    margin-bottom: 5%;
    background-image: url('../img/imgConseil.jpg');
    background-size: cover;
    max-height: 600px;
}

.Conseilbackground-xs {
    margin-bottom: 5%;
    background-image: url('../img/imgConseil.jpg');
    background-size: cover;
    max-height: 600px;
}

.Conseil {
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
}

.Conseil-xs {
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgba(0,0,0,0.3);
}

.ConseilTitre {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    border:1px solid white;

}

.ConseilTitre-xs {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 11%;
    margin-right: 11%;
    text-align: center;
    border:1px solid white;

}

.ConseilTitre h4 {
    color: white;
    font-size: 25px;
    opacity: 1;
}

.ConseilTitre-xs h4 {
    color: white;
    font-size: 25px;
    opacity: 1;
}

.ConseilText {
    margin-top: 2.5%;

}

.ConseilText-xs {
    margin-top: 2.5%;

}

.ConseilText p {
    color: white;
    font-size: 22px;
    opacity: 1;
}

.ConseilText-xs p {
    color: white;
    font-size: 14px;
    opacity: 1;
}

/*-------    Section Livre d'or    ------*/
.LDOR {

    height: 300px;
}

.LivreDor-titre {
    text-align: center;
    padding-bottom: 10px;
}

.carousel .item {
    margin-top: 5%;
}

.carousel .left {
    background-image: none;
}

.carousel .right {
    background-image: none;
}

.glyphicon-chevron-right {
    color: #557e02;
}

.glyphicon-chevron-left {
    color: #557e02;
}

/*-------    Section Formulaire   ------*/
.ImgForm {
    margin-top: 5%;
    max-height: 495px;
}

.formulaire {
    margin-top: 5%;
    margin-bottom: 5%;

}

.formulaire h2 {
    text-align: center;
    border-bottom:1px solid black;
}

.formulaire p {
    text-align: center;
}


/*-------       Footer      ------*/

.footer [class*="col-"] {
    background-color: #202020;
}
.footer {
    padding-top: 10px;
    background-color: #202020;
    height: 200px;
}
#footer-logo-sp {
    margin-top: 40px;
    margin-left: 30px;
}
#footer-logo-gaston {
    margin-top:10px;
    width: 100%;
    max-width: 350px;
}
.infolegale h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.infolegale p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: justify;
}

.legal-logo-wcs {
    height: 30px;
    margin-left: -35px;
}

.logoWCS {
    margin-top: 30px;
}

.logoWCS a {
    color: white;
    text-decoration: none;
}








/*-------       Media Queries     ------*/

@media screen and (max-width: 1340px) {

    .presentation {
        height: 630px;
    }

    .value1 {
        bottom: -180px;
        left: 4%;
        width: 80%;
    }

    .value2 {
        bottom: -315px;
        right: 5%;
        width: 80%;
    }

}

@media screen and (max-width: 1200px) {
    .blocPresta {
        margin-bottom: 80px;
    }

    .presentation {
        height: 600px;
    }

    .value1 {
        bottom: -170px;
        left: 4%;
        width: 80%;
    }

    .value2 {
        bottom: -305px;
        right: 5%;
        width: 80%;
    }

    .ImgForm {
        display: none;
    }

    .row-presta {
        padding-bottom: 5px;
    }
}

@media (max-width: 992px) {
    h1#accroche{
        font-size:72px;
    }
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .presentation {
        height: 650px;
    }

    .value1 {
        bottom: -190px;
        left: 4%;
        width: 80%;
    }

    .value2 {
        bottom: -350px;
        right: 5%;
        width: 80%;
    }
}

@media screen and (max-width: 455px) {
    .presentation {
        height: 790px;
    }

    .value1 {
        bottom: -220px;
        left: 4%;
        width: 80%;
    }

    .value2 {
        bottom: -420px;
        right: 5%;
        width: 80%;
    }

    .etiquette{
        width: 100%;
    }

}

@media (max-width: 768px) {
    h1#accroche{
        font-size:36px;
    }
}

@media only screen and (max-width: 600px){
    .Conseilbackground-lg {
        display: none;
    }
}

@media only screen and (min-width: 600px){
    .Conseilbackground-xs {
        display: none;
    }

}
