/*------        Général      ------*/

h1 {
    padding : 15px 0 20px 0;
    font-size: 44px;
    font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
}

h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #557e02;
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


.ancre
{
    padding-top: 80px;
}

label {
    font-family: 'Open Sans', sans-serif;

}

a {
    font-family: 'Open Sans', sans-serif;
}

button, input, select, textarea {
    font-family: 'Open Sans', sans-serif;
}

.separe {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(85, 126, 2, 0.75), rgba(0, 0, 0, 0));
    border: 0 none;
    color: #557e02;
    height: 1px;
    margin-bottom: 10px;
}

.btn-default
{
    background-color: #557e02;
    border-color: #557E02;
    border-radius: 6px;
    color: white;
    padding: 6px 20px;
}

.btn-default:hover
{
    border-color: #557E02;
}

.btn-default:focus
{
    border-color: #557E02;
    background-color: #557e02;
    color: white;
}

.hover:hover
{
    background-color: #557E02;
    border-radius: 6px;
    color: white;
}


/*------      Navigation      ------*/
.navbar-toggle {

    padding: 25px 10px;
}

.navbar-inverse
{
    background: rgba(0,0,0,0.8);
    border-color: #0000;
}

.navbar-inverse.scrolled {
    background-color: #202020 !important;
    transition: background-color 300ms linear;
}

.navbar-inverse .navbar-nav > li > a
{
    color: white;
    text-align: center;
    font-weight: bold;
}

.navbar-right
{
    padding: 20px;
}

.logo
{
    width: 250px;
    padding: 5%
}

/*------     Image header     ------*/
.parallax {
    z-index: -1;
}
h4#accroche{
    display: block;
    position: fixed;
    top: 40%;
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 2px black;
    z-index: -1;
}
.bg-img1-lg, .bg-img1-md, .bg-img1-sm, .bg-img1-xs {
    background-image: url("../img/bg1.jpg");
    background-size: cover;
}
.bg-img2-lg, .bg-img2-md, .bg-img2-sm, .bg-img2-xs {
    background-image: url("../img/garden2.jpg");
    background-size: cover;
}

.bg-img1-lg, .bg-img1-md {
    height: 870px;
}

.bg-img1-md, .bg-img1-sm, .bg-img1-xs {
    margin-top: 50px
}

.bg-img2-lg{
    height: 400px;
}
.bg-img1-xs, .bg-img2-md {
    height: 300px;
}

.bg-img2-xs {

}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


/*------ Section presentation ------*/

.presentation {
    background: #fff;
    position: relative;
    height: 495px;
}

.presentation p {
    text-align: left;
    padding-bottom: 5px;
}

.img-header-prez {
    line-height: 20px;
}


/*------         Titre        ------*/


/*------     Presentation     ------*/


/*------     Valeur Ecologie  ------*/

.value1 {
    position: absolute;
    bottom: -210px;
    left: 6%;
    width: 45%;
    background-color:  #fbfff3;
    box-shadow: 2px 6px 26px 0 rgba(0, 0, 0, 0.1);
    border: solid #f9f9f9 1px;
    padding: 0 20px 5px 20px;
}


/*------    Valeur Client     ------*/

.value2 {
    position: absolute;
    bottom: -250px;
    right: 6%;
    width: 45%;
    background-color: #fbfff3;
    box-shadow: 2px 6px 26px 0 rgba(0, 0, 0, 0.1);
    border: solid #f9f9f9 1px;
    padding: 0 20px 5px 20px;

}

/*------  Section Best Realisations  ------*/

.real-titre {
    background-color: #ffffff;
    text-align: center;
}

.real {
    background-color: #ffffff;
    padding-bottom: 3%;
}

.blocCompare {
    margin-left: -1%;
}

.side-real {
    margin-top: 8%;
    width: 100%;
    background-color:  #ffffff;
    box-shadow: 2px 6px 26px 0 rgba(0, 0, 0, 0.1);
    border: solid #f9f9f9 1px;
    padding: 12% 20px 12% 20px;
    text-align: center;
}

.side-real p {
    font-style: italic;
}

i {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
}

/*-------     Best Real    ------*/

div#comparison {
    width: 60vw;
    height: 60vw;
    max-width: 590px;
    max-height: 400px;
    overflow: hidden; }
div#comparison figure {
    background-image: url(../img/test2_apres.jpg);
    background-size: cover;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}
div#comparison figure > img {
    position: relative;
    width: 100%;
}
div#comparison figure div {
    background-image: url(../img/test2_avant.jpg);
    background-size: cover;
    position: absolute;
    width: 50%;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    overflow: hidden;
    bottom: 0;
    height: 100%;
}

input[type=range]{
    -webkit-appearance:none;
    -moz-appearance:none;
    position: relative;
    top: -2rem; left: -2%;
    background-color: rgba(255,255,255,0.2);
    width: 102%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:active {
    outline: none;
}

input[type=range]::-moz-range-track {
    -moz-appearance:none;
    height:15px;
    width: 98%;
    background-color: rgba(255,255,255,0.2);
    position: relative;
    outline: none;
}
input[type=range]::active {
    border: none;
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance:none;
    width: 20px; height: 15px;
    background: #557E02;
    border-radius: 0;
}
input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    width: 20px;
    height: 15px;
    background: #557E02;
    border-radius: 0;
}
input[type=range]:focus::-webkit-slider-thumb {
    background: rgba(85,126,2,0.5);
}
input[type=range]:focus::-moz-range-thumb {
    background: rgba(85,126,2,0.5);
}


/*-------   Section Blog  ------*/
.Blog {
    background-image: url('../img/imgConseil.jpg');
    background-size: cover;
    padding: 15px 0 20px 0;
    height: 185px;
}

.BlogThumb {
    color: white;
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
}

.BlogThumb h3 {
    /*
    color: #c1eb6a; !* Teinte verte (si on ne veut pas du rouge cerise) *!
    */
    color: white;
    text-shadow: 0 0 1px black;
    font-size: 34px;
    font-weight: 500;
}

.BlogThumb p {
    text-shadow: 0 0 1px black;
    font-size: 18px;
    padding-bottom: 5px;
}

.BlogThumb a:hover {
    text-decoration: none;
}

/*-------     Prestations     ------*/
.presta-titre {
    text-align: center;
}

.presta .separe{
    margin-bottom: 2%;
}

.row-presta {
    padding-bottom: 100px;
}

.blocPresta {
    position: relative;
}

.etiquette {
    position: absolute;
    bottom: -50px;
    right: -40px;
    background-color: white;
    border : solid lightgrey 1px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgb(170, 170, 170);
    width: 400px;
    height: auto;
    padding-left : 10px;
}

.thumbnail
{
    border: none;
}

.thumbnail>img
{
    border-radius: 6px;
}

/*-------    Section Conseil du mois    ------*/

.Conseilbackground-lg {
    margin-bottom: 1%;
    background-image: url('../img/imgConseil.jpg');
    background-size: cover;
    max-height: 600px;
}

.Conseilbackground-xs {
    margin-bottom: 1%;
    background-image: url('../img/imgConseil.jpg');
    background-size: cover;
    max-height: 600px;
}

.Conseil {
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
}

.Conseil-xs {
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgba(0,0,0,0.5);
}

.ConseilTitre {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    border:1px solid white;

}

.ConseilTitre-xs {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 11%;
    margin-right: 11%;
    text-align: center;
    border:1px solid white;

}

.ConseilTitre h4 {
    color: white;
    font-size: 25px;
    opacity: 1;
}

.ConseilTitre-xs h4 {
    color: white;
    font-size: 25px;
    opacity: 1;
}

.ConseilText {
    margin-top: 2.5%;

}

.ConseilText-xs {
    margin-top: 2.5%;
    text-align: center;
}

.ConseilText p {
    color: white;
    font-size: 22px;
    opacity: 1;
}

.ConseilText-xs p {
    color: white;
    font-size: 14px;
    opacity: 1;
}

/*-------    Section Livre d'or    ------*/
.LDOR {

    height: 300px;
}

.LivreDor-titre {
    text-align: center;
}

.carousel {
    margin-top: 3%;
}

.carousel .left {
    background-image: none;
}

.carousel .right {
    background-image: none;
}

.glyphicon-chevron-right {
    color: #557e02;
}

.glyphicon-chevron-left {
    color: #557e02;
}

/*-------    Section Formulaire   ------*/
.ImgForm {
    margin-top: 1%;
    max-height: 495px;
}

.formulaire {
    margin-top: 1%;
    margin-bottom: 2%;

}

.formulaire h2 {
    text-align: center;
    /*
    border-bottom:1px solid black;
    */
}

.formulaire p {
    text-align: center;
}


/*-------       Footer      ------*/

.footer [class*="col-"] {
    background-color: #202020;
}
.footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #202020;
}

.logo-sap {
    padding: 40px 0 10px 0;
}

#footer-logo-gaston {
    margin-top:10px;
    width: 100%;
    max-width: 350px;
}

.logo-gaston-footer {
    padding-top: 10px;
}

.infolegale h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.infolegale p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: justify;
}

.legal-logo-wcs {
    height: 30px;
    margin-left: -35px;
}

.logoWCS {
    padding-top: 30px;
}

.logoWCS a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
}

.linkModal {
    padding-top: 20px;
}

.linkModal a {
    color: #557e02;
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.linkModal a:hover {
    color: white;
    text-decoration: none;
}




/*-------       Media Queries     ------*/

@media screen and (max-width: 1650px) {
    .glyph-mouse {
        padding: 35px 0 0 20px;
    }
}

@media screen and (max-width: 1340px) {

    .presentation {
        height: 630px;
    }

    .value1 {
        bottom: -180px;
        left: 4%;
        width: 80%;
    }

    .value2 {
        bottom: -315px;
        right: 5%;
        width: 80%;
    }

}

@media screen and (max-width: 1200px) {
    .blocPresta {
        margin-bottom: 80px;
    }

    .presentation {
        height: 600px;
    }

    .value1 {
        bottom: -170px;
        left: 4%;
        width: 80%;
    }

    .value2 {
        bottom: -305px;
        right: 5%;
        width: 80%;
    }

    .ImgForm {
        display: none;
    }

    .row-presta {
        padding-bottom: 5px;
    }

    .side-real {
        padding: 2% 20px 2% 20px;
        width: 100%;
        margin-top: 4%;
    }

    .blocCompare {
        margin-left: 23%;
        margin-top: 3%;
    }
}

@media (max-width: 1100px) {
    .blocCompare {
        margin-left: 19%;
    }
}


@media (max-width: 992px) {
    h1#accroche{
        font-size:72px;
    }
}

@media (max-width: 768px) {
    h1#accroche{
        font-size:36px;
    }

    .Blog {
        padding: 0;
    }

    .BlogThumb {
        background-color: rgba(0, 0, 0, 0.4);
        padding-bottom: 5px;
        margin-top: 8%;
    }


    .etiquette{
        width: 100%;
    }


    .BlogThumb h3 {
        color: #c1eb6a;
        font-size: 26px;
        padding-top: 5px;
    }

    .BlogThumb p {
        font-size: 14px;
    }

    .glyph-mouse {
        padding: 70px 0 0 5px;
    }
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    h4#accroche {
        top: 25%;
        font-size: 50px;
    }

    p {
        font-size: 14px;
    }

    .presentation {
        height: 650px;
    }

    .value1 {
        bottom: -190px;
        left: 4%;
        width: 80%;
    }

    .value2 {
        bottom: -350px;
        right: 5%;
        width: 80%;
    }

}

@media screen and (max-width: 660px) {
    .glyph-mouse {
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .Conseilbackground-lg {
        display: none;
    }
}

@media only screen and (min-width: 600px){
    .Conseilbackground-xs {
        display: none;
    }
}

@media screen and (max-width: 455px) {
    .presentation {
        height: 790px;
    }

    .value1 {
        bottom: -220px;
        left: 4%;
        width: 80%;
    }

    .value2 {
        bottom: -420px;
        right: 5%;
        width: 80%;
    }

    .BlogThumb {
        margin-top: 0;
    }
}

@media only screen and (max-width: 360px){

    h2 {
        font-size: 26px;
    }

    .logo-sap {
        height: 20px;
    }

    #footer-logo-gaston {
        width: 80%;
    }

    .legal-logo-wcs {
        height: 10px;
    }

    .linkModal a {
        font-size: 16px;
    }

}