/*------        Général      ------*/
.erreur {
    color: red;
}

.ok {
    color: #557e02;
    font-weight: bold;
    margin-top: -30px;
}

@font-face
{
    font-family: "Artistik";
    src: url("../fonts/ARTISTIK.TTF");
}

h1 {
    padding : 15px 0 20px 0;
    font-size: 44px;
    font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
}

h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #557e02;
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.ancre
{
    padding-top: 80px;
}

label {
    font-family: 'Open Sans', sans-serif;

}

a {
    font-family: 'Open Sans', sans-serif;
}

button, input, select, textarea {
    font-family: 'Open Sans', sans-serif;
}

.separe {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(85, 126, 2, 0.75), rgba(0, 0, 0, 0));
    border: 0 none;
    color: #557e02;
    height: 1px;
    margin-bottom: 10px;
}

.btn-default
{
    background-color: #557e02;
    border-color: #557E02;
    border-radius: 6px;
    color: white;
    padding: 6px 20px;
}

.btn-default:hover
{
    border-color: #557E02;
}

.btn-default:focus
{
    border-color: #557E02;
    background-color: #557e02;
    color: white;
}

.hover:hover
{
    background-color: #557E02;
    border-radius: 6px;
    color: white;
}


/*------      Navigation      ------*/
.navbar-toggle {
    padding: 25px 10px;
}

.navbar-inverse
{
    background: rgba(0,0,0,0.8);
    border-color: #0000;
}

.navbar-inverse.scrolled {
    background-color: #202020 !important;
    transition: background-color 300ms linear;
}

.navbar-inverse .navbar-nav > li > a
{
    color: white;
    text-align: center;
    font-weight: bold;
}

.navbar-right
{
    padding: 20px;
}

.logo
{
    width: 250px;
    padding-top: 15px;
}

/*------     Image header     ------*/
.parallax {
    z-index: -1;
}
h4#accroche{
    display: block;
    position: fixed;
    top: 40%;
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-family: 'Artistik';
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 2px black;
    z-index: -1;
}
.bg-img2-lg, .bg-img2-md, .bg-img2-sm, .bg-img2-xs {
    background-image: url("../img/garden2.jpg");
    background-size: cover;
}

.bg-img1-lg, .bg-img1-md {
    height: 870px;
}

.bg-img1-md, .bg-img1-sm, .bg-img1-xs {
    margin-top: 50px
}

.bg-img2-lg{
    height: 400px;
}
.bg-img1-xs, .bg-img2-md {
    height: 650px;
}

.bg-img2-xs {

}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


/*------ Section presentation ------*/

.presentation {
    background: #fbfff3;
    position: relative;
    height: 580px;
}

.presentation p {
    text-align: left;
    padding-bottom: 15px;
}

.img-header-prez {
    line-height: 20px;
}


/*------         Titre        ------*/


/*------     Presentation     ------*/


/*------     Valeur Ecologie  ------*/

.value1 {
    position: absolute;
    bottom: -280px;
    left: 6%;
    width: 45%;
    height: 280px;
    background-color:  #ffffff;
    box-shadow: 2px 6px 26px 0 rgba(0, 0, 0, 0.1);
    border: solid #f9f9f9 1px;
    padding-top: 2%;
    padding-left: 20px;
    padding-right: 20px;
}


/*------    Valeur Client     ------*/

.value2 {
    position: absolute;
    bottom: -320px;
    right: 5%;
    width: 45%;
    height: 280px;
    background-color: #ffffff;
    box-shadow: 2px 6px 26px 0 rgba(0, 0, 0, 0.1);
    border: solid #f9f9f9 1px;
    padding-top: 2%;
    padding-left: 20px;
    padding-right: 20px;
}

/*------  Section Best Realisations  ------*/

.real-titre {
    background-color: #ffffff;
    text-align: center;
}

.real {
    background-color: #ffffff;
    padding-top: 1.5%;
    padding-bottom: 3.5%;
}


.side-real {
    margin-top: 20%;
    width: 125%;
    background-color:  #ffffff;
    box-shadow: 2px 6px 30px 0 rgba(0, 0, 0, 0.1);
    border: solid #f9f9f9 1px;
    padding: 15% 25px 15% 25px;
    text-align: center;
}

.realBloc .carousel {
    margin-top: 0;
}

.realClass .carousel-control {
    width: 5%;
}

/*-------     Best Real    ------*/

div#comparison1, div#comparison2, div#comparison3 {
    width: 60vw;
    height: 60vw;
    max-width: 750px;
    max-height: 509px;
    overflow: hidden; }

div#comparison1 figure {
    background-image: url(../img/imgRav-1.jpg);
    background-size: cover;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

div#comparison2 figure {
    background-image: url(../img/imgRav-2.jpg);
    background-size: cover;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

div#comparison3 figure {
    background-image: url(../img/imgRav-3.jpg);
    background-size: cover;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

div#comparison1 figure > img, div#comparison2 figure > img, div#comparison3 figure > img {
    position: relative;
    width: 100%;
}
div#comparison1 figure div {
    background-image: url(../img/imgRap-1.jpg);
    background-size: cover;
    position: absolute;
    width: 40%;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    overflow: hidden;
    bottom: 0;
    height: 100%;
}

div#comparison2 figure div {
    background-image: url(../img/imgRap-2.jpg);
    background-size: cover;
    position: absolute;
    width: 40%;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    overflow: hidden;
    bottom: 0;
    height: 100%;
}

div#comparison3 figure div {
    background-image: url(../img/imgRap-3.jpg);
    background-size: cover;
    position: absolute;
    width: 40%;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    overflow: hidden;
    bottom: 0;
    height: 100%;
}

input[type=range]{
    -webkit-appearance:none;
    -moz-appearance:none;
    position: relative;
    top: -2rem; left: -2%;
    background-color: rgba(255,255,255,0.2);
    width: 102%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:active {
    outline: none;
}

input[type=range]::-moz-range-track {
    -moz-appearance:none;
    height:15px;
    width: 98%;
    background-color: rgba(255,255,255,0.2);
    position: relative;
    outline: none;
}
input[type=range]:active {
    border: none;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance:none;
    width: 20px; height: 15px;
    background: #557E02;
    border-radius: 0;
}
input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    width: 20px;
    height: 15px;
    background: #557E02;
    border-radius: 0;
}
input[type=range]:focus::-webkit-slider-thumb {
    background: rgba(85,126,2,0.5);
}
input[type=range]:focus::-moz-range-thumb {
    background: rgba(85,126,2,0.5);
}


/*-------   Section Blog  ------*/
.Blog {
    background-image: url('../img/garden4.jpg');
    background-size: cover;
    height: 800px;
}

.BlogThumb {
    margin-top: 15%;
    padding: 25% 7% 28% 7%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.BlogThumb h2 {
    color: #557E02;
    padding-bottom: 4%;
}

.BlogThumb p {
    color: black;
    font-size: 18px;
    padding-bottom: 6%;
}

.BlogThumb a:hover {
    text-decoration: none;
}

.BlogThumb .btn-default {
    padding: 10px 40px;
    font-weight: bold;
}

/*-------     Prestations     ------*/
.presta-titre {
    text-align: center;
}

.presta .separe{
    margin-bottom: 2%;
}

.blocPresta {
    position: relative;
    margin-bottom: 100px;
}

.etiquette {
position: absolute;
bottom: -50px;
right: -40px;
background-color: white;
border : solid lightgrey 1px;
border-radius: 4px;
box-shadow: 2px 2px 8px rgb(170, 170, 170);
width: 400px;
height: auto;
padding-left : 10px;
}

.thumbnail
{
border: none;
}

.thumbnail>img
{
border-radius: 6px;
}

/*-------    Section Conseil du mois    ------*/

.Conseilbackground-lg {
    margin-bottom: 1%;
    background-image: url('../img/garden3.jpg');
    background-size: cover;
    height: 410px;
}

.Conseilbackground-xs {
    margin-bottom: 1%;
    background-image: url('../img/garden3.jpg');
    background-size: cover;
    height: 410px;
}

.Conseil {
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    padding: 2% 0 2% 1%;
}

.Conseil-xs {
    margin-top: 12%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3%;
}

.ConseilTitre {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    border:2px solid white;

}

.ConseilTitre-xs {
    margin-top: 3%;
    margin-left: 11%;
    margin-right: 11%;
    text-align: center;
    border:2px solid white;

}

.ConseilTitre h4 {
    color: white;
    font-size: 30px;
    opacity: 1;
    padding: 5%;
}

.ConseilTitre-xs h4 {
    color: white;
    font-size: 26px;
    opacity: 1;
    padding: 0 2% 2% 2%;
}

.ConseilText {
    margin-top: 2%;
}

.ConseilText-xs {
    margin-top: 2%;
    text-align: center;
}

.ConseilText p {
    color: white;
    font-size: 22px;
    opacity: 1;
    font-weight: bold;
}

.ConseilText-xs p {
    color: white;
    font-size: 16px;
    opacity: 1;
    font-weight: bold;
}

/*-------    Section Livre d'or    ------*/
.LDOR {

    height: 320px;
}

.LivreDor-titre {
    text-align: center;
}

.carousel {
    margin-top: 3%;
}

.carousel .left {
    background-image: none;
}

.carousel .right {
    background-image: none;
}

.glyphicon-chevron-right {
    color: #557e02;
}

.glyphicon-chevron-left {
    color: #557e02;
}

/*-------    Section Formulaire   ------*/
.ImgForm {
    margin-top: 5%;
    max-height: 495px;
}

.formulaire {
    margin-top: 1%;
    margin-bottom: 2%;

}

.formulaire h2 {
    text-align: center;
    /*
    border-bottom:1px solid black;
    */
}

.formulaire p {
    text-align: center;
}


/*-------       Footer      ------*/

.footer [class*="col-"] {
    background-color: #202020;
}
.footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #202020;
}

.logo-sap {
    padding: 40px 0 10px 0;
}

#footer-logo-gaston {
    margin-top:10px;
    width: 100%;
    max-width: 350px;
}

.logo-gaston-footer {
    padding-top: 10px;
}

.infolegale h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.infolegale p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: justify;
}

.legal-logo-wcs {
    height: 30px;
    margin-left: -35px;
}

.logoWCS {
    padding-top: 30px;
}

.logoWCS a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
}

.linkModal {
    padding-top: 20px;
}

.linkModal a {
    color: #557e02;
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.linkModal a:hover {
    color: white;
    text-decoration: none;
}
.modal.modal-wide .modal-dialog {
    width: 80%;
}
.modal-wide .modal-body {
    overflow-y: auto;
}




/*-------       Media Queries     ------*/

@media screen and (max-width: 1700px) {

    div#comparison1, div#comparison2, div#comparison3 {
        max-width: 650px;
        max-height: 441px;
    }
}

@media screen and (max-width: 1500px) {

    div#comparison1, div#comparison2, div#comparison3 {
        max-width: 600px;
        max-height: 407px;
    }

    .side-real {
        margin-top: 10%;
    }

    .Blog {
        height: 720px;
    }

    .Conseil {
        margin-top: 12%;
    }

}

@media screen and (max-width: 1400px) {

    .presentation {
        height: 760px;
    }

    .value1 {
        bottom: -230px;
        left: 4%;
        width: 700px;
        height: 230px;
    }

    .value2 {
        bottom: -440px;
        right: 5%;
        width: 700px;
        height: 230px;
    }

}

@media screen and (max-width: 1380px) {
    div#comparison1, div#comparison2, div#comparison3 {
        max-width: 500px;
        max-height: 339px;
    }
}

@media screen and (max-width: 1200px) {

    div#comparison1, div#comparison2, div#comparison3 {
        max-width: 650px;
        max-height: 441px;
    }

    .logo {
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .Blog {
        height: 650px;
    }

    .blocPresta {
        margin-bottom: 80px;
    }

    .ImgForm {
        display: none;
    }

    .row-presta {
        padding-bottom: 5px;
    }

    .side-real {
        padding: 2% 20px 2% 20px;
        width: 100%;
        margin-top: 2%;
    }

    .blocCompare {
        margin-left: 23%;
        margin-top: 3%;
    }

    .Conseil {
        margin-top: 12%;
    }
}

@media (max-width: 1100px) {
    .blocCompare {
        margin-left: 19%;
    }
}


@media (max-width: 992px) {
    h4#accroche{
        /*
        top: 35%;
        */
        font-size:72px;
    }

    .BlogThumb {
        margin-top: 20%;
        padding: 10% 7% 10% 7%;
    }

    .Conseil {
        margin-top: 15%;
    }

    .ConseilTitre h4 {
        font-size: 22px;
    }
}


@media screen and (max-width: 800px) {

    .presentation {
        height: 890px;
    }

    .value1 {
        bottom: -300px;
        left: 4%;
        width: 500px;
        height: 280px;
    }

    .value2 {
        bottom: -550px;
        right: 5%;
        width: 500px;
        height: 280px;
    }
}

@media only screen and (min-width: 769px){

    .Conseilbackground-xs {
        display: none;
    }
}

@media (max-width: 768px) {

    .Conseilbackground-lg {
        display: none;
    }

    h4#accroche{
/*        top: 15%;*/
        font-size: 60px;
    }

    .Blog {
        padding: 0;
    }

    .BlogThumb {
        margin-top: 25%;
        padding: 15% 7% 15% 7%;
    }

    .BlogThumb h2 {
        font-size: 26px;
    }

    .BlogThumb p {
        font-size: 14px;
    }

    .etiquette{
        width: 100%;
    }
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .presentation {
        height: 810px;
    }

    .value1 {
        bottom: -280px;
        left: 4%;
        width: 500px;
        height: 250px;
    }

    .value2 {
        bottom: -510px;
        right: 5%;
        width: 500px;
        height: 250px;
    }


}

@media screen and (max-width: 600px) {

    .Blog {
        height: 600px;
    }

    .BlogThumb {
        margin-top: 35%;
    }

    .Conseil-xs {
        margin-top: 15%;
    }

    .presentation {
        height: 840px;
    }

    .value1 {
        bottom: -290px;
        left: 4%;
        width: 400px;
        height: 280px;
    }

    .value2 {
        bottom: -550px;
        right: 5%;
        width: 400px;
        height: 280px;
    }

}

@media screen and (max-width: 500px) {

    .presentation {
        height: 1000px;
    }

    .value1 {
        bottom: -340px;
        left: 4%;
        width: 300px;
        height: 330px;
    }

    .value2 {
        bottom: -650px;
        right: 5%;
        width: 300px;
        height: 330px;
    }

}

@media screen and (max-width: 400px) {

    .presentation {
        height: 1100px;
    }
}

@media only screen and (max-width: 360px) {

    h2 {
        font-size: 26px;
    }

    .logo-sap {
        height: 20px;
    }

    #footer-logo-gaston {
        width: 80%;
    }

    .legal-logo-wcs {
        height: 10px;
    }

    .linkModal a {
        font-size: 16px;
    }

}
